.selector {
    margin-bottom: 15px;
}
.wireTypeGroup {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.75rem;
}

.selectorTitle {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;

}

.optionsList {
     list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    flex-wrap: wrap;
    gap: 10px;
}

.optionItem {
    display: flex;
    align-items: center;
}

.optionLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s;
}

.optionLabel:hover {
    border-color: #4a6bdf;
}

.optionInput {
    width: 16px;
    height: 16px;
}